In [1]:
import requests
import pandas as pd
import NAEP_helpers

In [2]:
url = 'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=mathematics&grade=4&variable=TOTAL&jurisdiction=NT,AL,AK,AZ,AR,CA,CO,CT,DE,DC,FL,GA,HI,ID,IL,IN,IA,KS,KY,LA,ME,MD,MA,MI,MN,MS,MO,MT,NE,NV,NH,NJ,NM,NY,NC,ND,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY&stattype=MN:MN,SD:SD,ALD:BA,ALD:PR,ALD:AD&Year=2015,2017,2019'

In [ ]:
#Return a dataframe using the NAEP API. This will take about 90 seconds if you use the above url.
#df_helper = NAEP_helpers.NAEP_df(url2,write_csv=False, csv_name='NAEP_all_2015-2019.csv')

In [6]:
#Return a dataframe using a CSV file previously generated using the NAEP data. Much quicker than using the NAEP API
df_NAEP = pd.read_csv('data/NAEP_all_2015-2019.csv')
df_NAEP.head()

,Unnamed: 0,year,sample,yearSampleLabel,Cohort,CohortLabel,stattype,subject,grade,scale,jurisdiction,jurisLabel,variable,variableLabel,varValue,varValueLabel,value,isStatDisplayable,errorFlag
0,0,2015,R3,2015,1,Grade 4,ALD:AD,MAT,4,MRPCM,AK,Alaska,TOTAL,All students,1,All students,6.010586,1,0
1,1,2015,R3,2015,1,Grade 4,ALD:BA,MAT,4,MRPCM,AK,Alaska,TOTAL,All students,1,All students,42.594169,1,0
2,2,2015,R3,2015,1,Grade 4,MN:MN,MAT,4,MRPCM,AK,Alaska,TOTAL,All students,1,All students,236.328417,1,0
3,3,2015,R3,2015,1,Grade 4,ALD:PR,MAT,4,MRPCM,AK,Alaska,TOTAL,All students,1,All students,29.102937,1,0
4,4,2015,R3,2015,1,Grade 4,SD:SD,MAT,4,MRPCM,AK,Alaska,TOTAL,All students,1,All students,31.032398,1,0

In [7]:
#The issue with the above dataframe is that data isn't organized nicely by date or statistic, and some of the column labels aren't clear. The following helper function will fix this
df_NAEP_nice = NAEP_helpers.make_df_nice(df_NAEP)
df_NAEP_nice.head()

stattype           mean_score    std_dev  percent_basic  percent_proficient  \
year jurisdiction
2015 AK            236.328417  31.032398      42.594169           29.102937
     AL            230.977423  27.435285      48.517950           23.825388
     AR            235.215470  27.520415      46.649121           28.472141
     AZ            237.611755  30.209490      40.927175           31.843851
     CA            231.549345  31.112294      43.198340           24.504857

stattype           percent_advanced
year jurisdiction
2015 AK                    6.010586
     AL                    2.254539
     AR                    3.482822
     AZ                    5.998870
     CA                    4.658120

In [15]:
#The above dataframe is multi-indexed, which is panda's way of allowing higher-dimensional data. We can pick out a specific year by calling the year index first
#(note the years included here are 2015, 2017, and 2019):
df_NAEP_2015 = df_NAEP_nice.loc[2015]
df_NAEP_2015

stattype,mean_score,std_dev,percent_basic,percent_proficient,percent_advanced
jurisdiction,,,,,
AK,236.328417,31.032398,42.594169,29.102937,6.010586
AL,230.977423,27.435285,48.517950,23.825388,2.254539
AR,235.215470,27.520415,46.649121,28.472141,3.482822
AZ,237.611755,30.209490,40.927175,31.843851,5.998870
CA,231.549345,31.112294,43.198340,24.504857,4.658120
CO,241.563576,30.794455,39.349124,34.224897,8.434812
CT,240.159469,30.202679,39.636120,33.736501,7.155954
DC,231.307525,34.304966,38.499983,23.638857,7.045604
DE,238.678019,27.943738,44.962958,31.719255,5.079614
FL,242.664321,27.562625,42.956734,34.921208,7.103973
GA,236.452519,28.903416,43.090523,29.492381,5.139112
HI,237.895807,31.327221,40.474543,31.696201,6.586064
IA,243.339912,29.651013,39.815226,35.595416,8.704626
ID,238.799625,29.000550,42.023292,32.327636,5.826071
IL,237.307814,32.244442,40.423855,28.816304,7.826829
IN,247.652184,27.037124,39.520797,40.372736,9.375653
KS,241.067209,29.265341,41.554863,34.195115,7.128133
KY,241.727762,27.809217,43.594546,33.451832,7.032722
LA,234.281902,26.904093,47.882892,26.137800,3.500972
MA,250.565778,28.678704,35.663281,40.840037,13.099827
MD,239.499751,31.523098,38.782547,32.293658,7.860006
ME,242.244654,28.212576,43.704819,33.646106,7.461620
MI,235.728894,29.759408,43.543420,29.005430,4.949562
MN,249.575847,31.539788,33.784223,39.128693,14.288332
MO,238.964923,28.796345,43.502680,33.256542,5.115586
MS,234.243053,26.808296,48.114841,26.160699,3.390697
MT,241.287048,27.945277,42.796060,34.530956,6.417877
NC,243.742267,28.335813,40.855376,36.255204,8.103520
ND,244.713831,27.132545,42.763857,36.891656,7.893402
NE,243.863667,27.699924,40.138156,38.497191,7.057494
NH,249.150621,26.381038,39.578462,41.407839,10.025390
NJ,245.383220,28.962742,39.399212,37.512088,9.356584
NM,231.167236,28.576321,46.573478,23.703766,3.180165
NT,240.389287,29.792975,41.611764,32.763892,7.285021
NV,233.827016,29.637060,44.068246,27.772701,4.107086
NY,236.796927,28.915509,43.961078,29.646109,5.267442
OH,243.598591,28.700207,40.610570,36.636836,7.951636
OK,239.760481,26.493369,47.589267,31.606348,5.071637
OR,237.746709,30.027854,41.939772,31.156209,5.897486
PA,243.312240,30.707304,37.685427,35.307900,9.676099
RI,238.001730,29.708758,42.639799,31.922005,5.563892
SC,237.089571,29.939720,43.029824,30.503367,5.527665
SD,239.723095,27.960277,43.075019,35.345174,4.411032
TN,240.667396,28.603395,42.325043,33.632815,6.540556
TX,244.002472,28.446553,41.897020,35.724248,8.257489
UT,242.562787,29.351823,40.333737,36.367483,7.394782
VA,246.612622,28.326821,39.969423,36.962754,10.386579
VT,243.250399,28.813855,41.452879,34.506209,8.686881
WA,244.981422,32.398079,36.094735,34.819388,12.111822
WI,243.310211,30.496359,37.326710,36.245786,9.166964
WV,235.204661,29.209178,45.090529,28.019225,4.548309
WY,246.759764,27.288229,40.114355,39.346775,8.957199

In [20]:
#This dataframe can now be indexed as usual:
print('2015 data from Virginia:\n', df_NAEP_2015.loc['VA'])
print('\n')
print('2015 percent_basic from all states:\n', df_NAEP_2015['percent_basic'])

2015 data from Virginia:
 stattype
mean_score            246.612622
std_dev                28.326821
percent_basic          39.969423
percent_proficient     36.962754
percent_advanced       10.386579
Name: VA, dtype: float64


2015 percent_basic from all states:
 jurisdiction
AK    42.594169
AL    48.517950
AR    46.649121
AZ    40.927175
CA    43.198340
CO    39.349124
CT    39.636120
DC    38.499983
DE    44.962958
FL    42.956734
GA    43.090523
HI    40.474543
IA    39.815226
ID    42.023292
IL    40.423855
IN    39.520797
KS    41.554863
KY    43.594546
LA    47.882892
MA    35.663281
MD    38.782547
ME    43.704819
MI    43.543420
MN    33.784223
MO    43.502680
MS    48.114841
MT    42.796060
NC    40.855376
ND    42.763857
NE    40.138156
NH    39.578462
NJ    39.399212
NM    46.573478
NT    41.611764
NV    44.068246
NY    43.961078
OH    40.610570
OK    47.589267
OR    41.939772
PA    37.685427
RI    42.639799
SC    43.029824
SD    43.075019
TN    42.325043
TX    41.897020
UT    40.333737
VA    39.969423
VT    41.452879
WA    36.094735
WI    37.326710
WV    45.090529
WY    40.114355
Name: percent_basic, dtype: float64

In [21]:
#If we instead want the state index first, then year, we can use the year_state Boolean argument in make_df_nice():
df_NAEP_nice_stateFirst = NAEP_helpers.make_df_nice(df_NAEP, year_state=False)
df_NAEP_nice_stateFirst.head()

stattype           mean_score    std_dev  percent_basic  percent_proficient  \
jurisdiction year
AK           2015  236.328417  31.032398      42.594169           29.102937
             2017  230.456278  34.794513      39.275507           26.431520
             2019  232.307479  34.000678      39.690383           27.855508
AL           2015  230.977423  27.435285      48.517950           23.825388
             2017  232.170688  30.118126      42.140235           27.637375

stattype           percent_advanced
jurisdiction year
AK           2015          6.010586
             2017          5.224436
             2019          5.311050
AL           2015          2.254539
             2017          3.559761